.body {
  width: 80%; /* Can be in percentage also. */
  height: auto;
  top: 30%;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  display: block;
  position: absolute;
}
.body_content {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #fff;
  border-radius: 25px;
}

.body_content_1 {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    margin: 10px;
    min-width: fit-content;
    min-height: -webkit-fill-available;
}
.body_1 {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px;
  overflow-x: auto;
  font-size: 10px;
}

.body_content_heading {
background-color: #fff;
    border-radius: 15px;
    display: flex;
   
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-height: -webkit-fill-available;
}