.header{  
    display: flex;
    object-fit: contain;
    align-items: center;
    font-family: "adobe-clean", sans-serif;
    margin: 20px;
}
.header_bell{
    color: rgb(41, 209, 12);  
    position: absolute;
    top: 3%;
    right: 3%;
}


.header_content > span{
    font-size: 20px;
    
}
.header_content > p{
    font-size: 12px;
    
}
.header_right{
    display: block;
    position: relative;
    padding: 10px;
    height: 100px;
    margin-left: 50px;
    margin-top: 15px;


}
.header_center{
   width: 70%;

}
.header__center > input {
    border-radius: 5px;
    
   
}