.root-container {
    min-height: 50%;
    flex: 1 0 auto;
    position: fixed;
    top: 30%;
    left: 50%;
    width:20%;
    height:65%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #d17979;
    overflow: scroll;
   
    display: flex;
  flex-direction: column;

}
.root-container:after {
    
    display: block;
  }



.root-container::-webkit-scrollbar{
    display: none;
}

.root-container:hover  {
    max-height: 100%;
    transition: max-height 0.25s ease-in;
}