.root-container {
   
    position: fixed;
    top: 30%;
    left: 50%;
    width:24%;
    height:65%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.root-container:hover  {
    max-height: 100%;
    transition: max-height 0.25s ease-in;
}