.searchbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    
}

.searchbar > input {
    width: 105%;
    border-radius: 10px;
    border: white 2px;
    padding: 10px;
}