.searchbar{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 24px;
    
}

.searchbar > input {
    
    width: 88%;
    border-radius: 10px;
    border: rgb(22, 216, 15) 2px;
    padding: 10px;
}